<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th >ID</th>
            <th>Age</th>
            <th>Name</th>
            <th>Salary</th>
            
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><span>{{empsId}}</span></td>
             <td><span>{{employeeSecond.employee_age}}</span></td> 
             
             <td><span>{{employeeSecond.employee_name}}</span></td>
            <td><span>{{employeeSecond.employee_salary}}</span></td>

            <!-- <button class='btn' id={{emps._id}} (click)="onSelect(emps)">Add Details</button>   -->
            
            

           
          </tr>
          </tbody>
        </table>
    
    
</body>
</html>
