<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-table2></app-table2> -->

<!-- <button type="button" class="btn btn-primary m-3" routerLink='table2'>Add Employee</button>

<button type="button" class="btn btn-primary m-3" routerLink='tableAll'>All Employee</button> -->

<app-signup></app-signup>




   

<!-- <button class="btn  btn-outline-primary" (click)="open(mymodal)">Add Employee</button>

   

<ng-template #mymodal let-modal>

    <body class= "bg-light">

        <div class="container">
        
          <div class="row  justify-content-center align-self-center py-5 ">
            <div class="col-md-8 text-left bg-white rounded shadow py-3 border red ">
        
        <form #userPost='ngForm' (ngSubmit)='onSubmit(userPost.value)'>

            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" >

                <span aria-hidden="true">×</span>
          
              </button>
        
        
            <div class="form-group">
              <label for="id">Id</label>
              <input type="" class="form-control mt-2" aria-describedby="emailHelp" name="id" placeholder="Enter Id" ngModel>
             
            </div>
            <div class="form-group mt-3">
              <label for="age">Age</label>
              <input type="" class="form-control mt-2"  name="employee_age" placeholder="Enter Age" ngModel>
            </div>
        
            <div class="form-group mt-3">
              <label for="name " >Name</label>
              <input type="text" class="form-control mt-2"  name="employee_name" placeholder="Enter Name" ngModel>
            </div>
        
            <div class="form-group mt-3 ">
              <label for="salary">Salary</label>
              <input type="" class="form-control mt-2"  name="employee_salary" placeholder="Enter Salary" ngModel>
            </div>
      
            <button type="submit" class="btn btn-primary mt-3 " >Submit</button>
      
           
           
           
          </form>
          </div>
        </div>  
        </div>
        
        
      </body>

</ng-template> -->





<router-outlet></router-outlet>