

	<img class="wave" src="../../assets/image/wave.png">
	<div class="container">
		<div class="img">
			<img src="../../assets/image/bg.svg">
		</div>
		<div class="login-content">
			<form action="">
                <div class="profile-pic-div">
				
                <input type="file" name="" id="file">
                <label for="file" id="uploadBtn">
                    <img src="../../assets/image/avatar.svg" id="photo">
                </label>
                </div>
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>

           		   </div>
           		   <div class="div">
           		   	
           		   		<input type="text" class="input" placeholder="Name">
           		   </div>
           		</div>

                <div class="input-div pass">
                    <div class="i"> 
                        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="div">
                     <input type="text" class="input" placeholder="Email">
                    </div>
                 </div>

           		<div class="input-div pass">
           		   <div class="i"> 
                    <i class="fa fa-lock fa-2x" aria-hidden="true"></i>

           		   </div>
           		   <div class="div">
           		    	
           		    	<input type="password" class="input" placeholder="Password">
            	   </div>
            	</div>
                <div class="input-div pass">
                    <div class="i"> 
                  <i class="fa fa-lock fa-2x" aria-hidden="true"></i>

                    </div>
                    <div class="div">
                        
                         <input type="password" class="input" placeholder="Confirm Password">
                 </div>
              </div>
              <div class="input-div pass">
                <div class="i"> 
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>


                </div>
                <div class="div">
                    
                     <input type="password" class="input" placeholder="Contact">
             </div>
          </div>
            	<!-- <a href="#">Forgot Password?</a> -->
            	<input type="submit" class="btn" value="Signup">
            </form>
        </div>
    </div>
  

